  
    h1{
    font-size: 40px;
    }
    
    .shop{
    background-color:rgb(224, 239, 240);
    height:300px;
    margin-top: -30px;
    }
    .shop h3{
    text-align:center;
    font-size: 25px;
    color:green;
    text-transform: uppercase;
    padding:20px
    }
    #shop_me{
    display: flex;
    flex-direction: row;
    padding-top: -50px;
    }
    #shop_me p{
    font-size: 18px;
    margin-left: 15px;
    
    }

    #shop_me img{
    border-radius: 50%;
    margin-left: 15px;
    }
    #table{
        width: 50%;
        text-align: center;

    }
    #purchase{
        text-align: center;
        margin:20px
    }
    .shopCart {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5%;
        padding-top:2%;
        padding-left: 2%;  
    }
    #table{
        text-align: center;
    }
    #contact-us{
        margin-top:30px;
    }

    
    